.card__container {
  border: 2px solid #000;
  max-width: 480px;
  margin: 15px;
  padding: 15px;
  transition: border-color 0.5s ease;
  &_list {
    margin: 5px 50px;
  }
  &:hover {
    cursor: pointer;
  }
}
